---
layout: layouts/home.njk
eleventyNavigation:
key: Home
order: 1
---
<div class="hero animated-rainbow-hover">
  <h1>Solving Your Tech Problems.</h1>
  <p>I specialize in AWS cost and performance audits, full-stack dev, and IT consulting.</p>
  <p>
    <strong>Have questions?</strong> 
    <a href="https://forms.monday.com/forms/4768856ebd9a4ed832f0bb7ada647b9f?r=use1">Let’s chat!</a><br/>
    Or email me: <a href="mailto:programtanner@gmail.com">programtanner@gmail.com</a>
  </p>
</div>
{% set maxPosts = collections.posts.length | min(10) %}
{# <h3>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h3> #}

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "layouts/postslist.njk" %}

<p>More articles can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
