---
layout: layouts/home.njk
eleventyNavigation:
key: Home
order: 1
---
<div class="hero animated-rainbow-hover">
  <h2>{{ metadata.description }}</h2>
  <h3>I help healthcare businesses solve technical and marketing challenges.</h3>
  <h4>Have questions? Let’s chat! <a href="mailto:programtanner@gmail.com">programtanner@gmail.com</a>
  </h4>
</div>
{% set maxPosts = collections.posts.length | min(10) %}
{# <h3>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h3> #}

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "layouts/postslist.njk" %}

<p>More articles can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>